<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <header class="py-5">
                    <div class="container px-lg-5 pt-5">
                        <div class="p-5 p-lg-2 bg-light rounded-3">
                            <div class="m-2 m-lg-5">
                                <h1 class="display-8 fw-bold">Email verification!</h1>
                                <br>
                                <p class="fs-6">
                                <p> Hello, <%= email %></p>
                                <p>We just need to verify your email address before you can access to the system.
                                </p>
                                <p>Thanks! – The quizz team</p>
                                </p>
                                <br>
                               <a class="btn btn-primary" href="<%= url %>" role="button">Verify email</a>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </div>

</body>

</html>